<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    
    <events timingLevel="custom">
      <event name="item:versionAdded" >
        <handler type="Sitecore.VersionManager.Handlers.VersionAddedHandler" method="OnVersionAdded"/>
      </event>
    </events>

    <pipelines>
      <getContentEditorWarnings>
        <processor type="Sitecore.VersionManager.Pipelines.GetContentEditorWarnings.HasEnoughVersion, Sitecore.VersionManager"/>
      </getContentEditorWarnings>
    </pipelines>
    
    <commands>
      <command name="version:clean" type="Sitecore.VersionManager.Commands.Clean, Sitecore.VersionManager" />
      <command name="version:refresh" type="Sitecore.VersionManager.Commands.Refresh, Sitecore.VersionManager" />
      <command name="version:cleanall"  type="Sitecore.VersionManager.Commands.CleanAll, Sitecore.VersionManager"/>
    </commands>
  
    <settings>
      <!--  Enables/disables automatic versions cleanup.
            Defaults to true.
      -->
      <setting name="VersionManager.AutomaticCleanupEnabled" value="true" />
      <!--  Sets the count of the latest versions to keep. 
            Defaults to 5.
      -->      
      <setting name="VersionManager.NumberOfVersionsToKeep" value="5" />
      <!--  Enables/disables a serializing of deleted versions
            Defaults to true.
      -->
      <setting name="VersionManager.ArchiveDeletedVersions" value="true" />
      <!--  Enables/disables a warning in the Content Editor
            when the item already has ItemVersionManager.NumberOfVersionsToKeep (N) versions.
            Defaults to true.
      -->
      <setting name="VersionManager.ShowContentEditorWarnings" value="true" />
      
      <!--  Sets root items in the content tree
            for processing versions checking.
            Defaults to /sitecore/content/Home.
      -->
      <setting name="VersionManager.Roots">
        <root value="/sitecore/content/Home"/>
      </setting>

      <AntiCsrf cookieName="__CSRFCOOKIE" formFieldName="__CSRFTOKEN" detectionResult="RaiseException" errorPage="" enabled="true">
        <rules>
          <rule name="shell">
            <ignore wildcard="/sitecore/shell/*applications/versions/version*manager*\?*Cart_itemsGrid_Callback=yes" />
          </rule>
        </rules>
      </AntiCsrf>
      
    </settings>
    
  </sitecore>
</configuration>